
h1{text-align:center;

    column-span: all;
    word-spacing: normal;
    text-decoration-line: underline;
}
h2{text-align:center;
    text-decoration-style: wavy;
    
}
body {
background-color: #e5b2a8; 
    text-align: center;
    text-overflow: ellipsis;
    border: 1px;
    font-family: 'PT Serif', serif;
   
}
p { border-style:hidden;
}


hr{  border-width: thick;
    border-top:thick;
border-left:thick;
}



#content{margin-top: inherit;
margin-left: 250px;
    margin-right:250px;
}
form{align-items:left;
 width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
                box-sizing: border-box;
}
nav{align-content: center;}




